/******************************TAGS*********************/

body {
    width: 1000px;
    margin: auto;
    text-align: center;
    background-color: #EFEFEF;
    font-family: 'Merriweather Sans', sans-serif;
    /* padding-top: 1rem; */
}

header {
    background-color: #E8D0B3;
    overflow: hidden;
}

footer {
    background-color: #E8D0B3;
    /* margin: auto; */
    overflow: hidden;
}

h1 {
    margin: 0 auto 0 auto;
    font-family: 'Handlee', cursive;
    font-size: 4.9rem;
    color: #42C2FF;
}

h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: "2.5rem";
    margin: 1rem auto 0 auto;
    color: #1A1A40;
}

h3 {
    font-family: 'Handlee', cursive;
    color: #151D3B;
    text-align: center;
}

p {
    color: #40514E;
    line-height: 2;
    padding-bottom: 1rem;
    width: 80%;
    margin: 0 auto;
}

hr {
    background-color: none;
    color: #151D3B;
    height: 10px;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 30%;
    margin: 2rem auto;
}

a {
    color: #3305ff;
    text-decoration: none;
}

a:hover {
    color: #c126cf
}


/******************************DIV*********************/

.top_container {
    position: relative;
    font-family: 'Hubballi', cursive;
}

.middle-container {
    padding: 1rem;
    margin: 1rem auto;
}

/******************************CLASS*********************/

.Name-ID {
    color: #151D3B;
    margin-top: 2rem;
}

.Profile_pic {
    /* float: left; */
    width: 30%;
    margin-top: 2rem;
}

.Bio {
    width: 60%;
    margin: auto;
}

.skill-row {
    position: relative;
    width: 80%;
    margin: 0 auto 0 auto;
    text-align: justify;
}

.coding-skill-img {
    width: 25%;
    float: left;
    margin-right: 2rem;
    margin-top: 1rem;
}

.modeling-skill-img {
    width: 25%;
    float: right;
    margin-left: 2rem;
}

.btn {
    background: #E8D0B3;
    background-image: -webkit-linear-gradient(top, #E8D0B3, #E8D0B3);
    background-image: -moz-linear-gradient(top, #E8D0B3, #E8D0B3);
    background-image: -ms-linear-gradient(top, #E8D0B3, #E8D0B3);
    background-image: -o-linear-gradient(top, #E8D0B3, #E8D0B3);
    background-image: -webkit-gradient(to bottom, #E8D0B3, #E8D0B3);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #151D3B;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0.5rem;
}

.btn:hover {
    border: solid #897D6F 0;
    background: #BDA991;
    background-image: -webkit-linear-gradient(top, #BDA991, #897D6F);
    background-image: -moz-linear-gradient(top, #BDA991, #897D6F);
    background-image: -ms-linear-gradient(top, #BDA991, #897D6F);
    background-image: -o-linear-gradient(top, #BDA991, #897D6F);
    background-image: -webkit-gradient(to bottom, #BDA991, #897D6F);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
    color: #ffffff;
}

.footer-link {
    margin: 1rem;
}

.copy-right {
    margin: 0.75rem auto 0 auto;
    padding-bottom: 0.5re;
    color: black;
    font-size: 1rem
}

.twitter {
    background: #55ACEE;
    color: white;

}

.likedin {
    background: #007bb5;
    color: white;
}

.git {
    background: white;
    color: black;
}

.instagram {
    background: #125688;
    color: white;
}

.social {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0;
    padding: 0.5rem;
    border-radius: 50%;
}

.projects-container {
    display: inline-block;
}

.gallery {
    margin: 2rem;
    border: 1px solid #ccc;
    float: left;
    width: 40%
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
}

.desc {
    padding: 15px;
    margin: auto;
    text-align: center;
}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background: #BDA991;
    color: black
}